In [1]:
import pandas as pd
import numpy as np
import os 
from datetime import date
from pathlib import PurePath

In [2]:
path = PurePath(os.getcwd(),'ventas', 'Bajio 18.txt')
df = pd.read_table(path, delimiter = ';', encoding="iso-8859-1")
df

,Año,Mes_Numero,cli_cve,pto_Cve,pto_Nombre,CU,CF,CFC,TA,Ing_Neto_SA_SIEPS,Ing_Bruto_SIEPS
0,2018,10,1620004476,97290,POWERADE Moras 1L 6pk ...,21.133760,20.0,10.000000,120.0,1870.65,1870.65
1,2018,12,603904109,382,SIDRAL 2 LT 8 G PETNR ...,11.271340,4.0,4.000000,32.0,394.40,438.24
2,2018,9,620138527,97820,FUZE TEA DURAZNO 600 ML ...,1.902039,3.0,0.750000,18.0,136.50,195.00
3,2018,12,1601061935,99457,Botellin PET Durazno 237ml 6pk ...,1.000000,4.0,1.000000,24.0,136.00,136.00
4,2018,10,604205525,99458,Botellin PET Guayaba 237ml 6pk ...,2.000000,8.0,2.000000,48.0,264.00,264.00
...,...,...,...,...,...,...,...,...,...,...,...
17332250,2018,12,1605015665,379,Fanta Naranja 355 ml 12PK lata ...,150.000000,200.0,100.000000,2400.0,18063.40,20070.40
17332251,2018,11,603404014,844,FANTA FRESA 600 ML PETNR 12 PK PRECIADO ...,1.902042,1.5,0.750000,18.0,107.28,107.28
17332252,2018,10,610155023,97289,POWERADE Naranja 1L 6pk ...,4.226752,4.0,2.000000,24.0,374.12,374.12
17332253,2018,12,620152662,2715,CC sin azucar 500ml VR 24pk ...,8.453504,4.0,4.000000,96.0,0.00,0.00
17332254,2018,9,620113406,99055,Monster 473ML 4PK LT ...,1.999998,6.0,1.000002,24.0,504.30,504.30

In [3]:
ndf = df[['cli_cve','pto_Nombre','CU']].groupby(['cli_cve','pto_Nombre']).sum()
ndf = ndf.reset_index()
ndf['cli_cve'] = ndf['cli_cve'].apply(lambda x: 'Tienda No {}'.format(str(x)).strip())
ndf['pto_Nombre'] = ndf['pto_Nombre'].str.upper()
ndf['pto_Nombre'] = ndf['pto_Nombre'].apply(lambda x: x.strip())
ndf['CU'] = pd.to_numeric(ndf['CU'])
ndf= ndf.dropna()
ndf

,cli_cve,pto_Nombre,CU
0,Tienda No 220056285,ADES CHOCOLATE 200 ML 4PK,0.422676
1,Tienda No 220056285,CC 355ML NR PET 12PK,11.250000
2,Tienda No 220056285,CC 500ML NR PET 12PK,34.870704
3,Tienda No 220056285,CC COLA BOT 500ML R VID 1X24U (U ALIG),38.040768
4,Tienda No 220056285,CC CLASICA 355 ML 12PK LATA,4.500000
...,...,...,...
6930011,Tienda No 1980000512,V.FRUT PON CITR 600ML PETNR 12P,50.721040
6930012,Tienda No 1980000512,YOLI LIMON BOT 600L NR 12PK,20.288416
6930013,Tienda No 1980000565,CC 500ML NR PET 12PK,2.113376
6930014,Tienda No 1980000566,CC CLASICA 355 ML 12PK LATA,4.500000
6930015,Tienda No 1980000566,CC LIGHT 355 ML 12PK LATA,4.500000

In [4]:
ndf.columns = ['tienda','producto','cu']
ndf['category'] = ''
ndf.loc[(ndf['cu'] < ndf['cu'].quantile(.25)),'category'] = 'BAJA VENTA'
ndf.loc[(ndf['cu'] >= ndf['cu'].quantile(.25)) & (ndf['cu'] < ndf['cu'].quantile(.5)),'category'] = 'MEDIA VENTA'
ndf.loc[(ndf['cu'] >= ndf['cu'].quantile(.5)) & (ndf['cu'] < ndf['cu'].quantile(.75)),'category'] = 'ALTA VENTA'
ndf.loc[(ndf['cu'] >= ndf['cu'].quantile(.75)),'category'] = 'MUY ALTA VENTA'
ndf

,tienda,producto,cu,category
0,Tienda No 220056285,ADES CHOCOLATE 200 ML 4PK,0.422676,BAJA VENTA
1,Tienda No 220056285,CC 355ML NR PET 12PK,11.250000,MEDIA VENTA
2,Tienda No 220056285,CC 500ML NR PET 12PK,34.870704,ALTA VENTA
3,Tienda No 220056285,CC COLA BOT 500ML R VID 1X24U (U ALIG),38.040768,ALTA VENTA
4,Tienda No 220056285,CC CLASICA 355 ML 12PK LATA,4.500000,BAJA VENTA
...,...,...,...,...
6930011,Tienda No 1980000512,V.FRUT PON CITR 600ML PETNR 12P,50.721040,MUY ALTA VENTA
6930012,Tienda No 1980000512,YOLI LIMON BOT 600L NR 12PK,20.288416,ALTA VENTA
6930013,Tienda No 1980000565,CC 500ML NR PET 12PK,2.113376,BAJA VENTA
6930014,Tienda No 1980000566,CC CLASICA 355 ML 12PK LATA,4.500000,BAJA VENTA
6930015,Tienda No 1980000566,CC LIGHT 355 ML 12PK LATA,4.500000,BAJA VENTA

In [5]:
ndf = ndf[ndf['tienda'].isin(ndf['tienda'].unique()[:100])]
ndf

,tienda,producto,cu,category
0,Tienda No 220056285,ADES CHOCOLATE 200 ML 4PK,0.422676,BAJA VENTA
1,Tienda No 220056285,CC 355ML NR PET 12PK,11.250000,MEDIA VENTA
2,Tienda No 220056285,CC 500ML NR PET 12PK,34.870704,ALTA VENTA
3,Tienda No 220056285,CC COLA BOT 500ML R VID 1X24U (U ALIG),38.040768,ALTA VENTA
4,Tienda No 220056285,CC CLASICA 355 ML 12PK LATA,4.500000,BAJA VENTA
...,...,...,...,...
4758,Tienda No 600100694,VF GUAYABA 355ML NRPET 12PK,94.500000,MUY ALTA VENTA
4759,Tienda No 600100694,VF MANGO BOT 600ML NR 12PK,35.504728,ALTA VENTA
4760,Tienda No 600100694,VLLEFRT GYBA BOT 600ML PT NR12P,124.266548,MUY ALTA VENTA
4761,Tienda No 600100694,VLLEFRU MZA BOT 600ML NR PET12P,53.257092,MUY ALTA VENTA
4762,Tienda No 600100694,VLLEFRU UVA BOT 600M NR PET 12P,8.876182,MEDIA VENTA

In [6]:
ndf.to_csv('tiendas.csv')

In [ ]:
ndf = df[['Año','Mes_Numero','pto_Nombre','CU']].copy()
ndf['fecha'] = ndf.apply(lambda x : date(x['Año'],x['Mes_Numero'],1), axis=1)
ndf['pto_Nombre'] = ndf['pto_Nombre'].str.upper()
ndf['pto_Nombre'] = ndf['pto_Nombre'].apply(lambda x : x.strip())
del ndf['Mes_Numero']
del ndf['Año']
ndf

In [ ]:
products = pd.pivot_table(ndf, values='CU', index='pto_Nombre',
                    columns=['fecha'], aggfunc=np.sum, fill_value=0)
products = products.reset_index()
products

In [ ]:
columns = products.columns[1:]
tendencias = products.copy()

def get_trend_serie(value):
    values = []
    for id_column in range(1,len(columns),1):
        values.append(value[columns[id_column]]-value[columns[id_column-1]])
    return values

tendencias['tendencia'] = products.apply(lambda x: get_trend_serie(x),axis=1)


for column in columns:
    del tendencias[column]
    
def get_type_tendece(val):
    val = np.average(val)
    if val > 0:
        return 'ALCISTA'
    elif val == 0:
        return 'ESTABLE'
    elif val < 0:
        return 'A LA BAJA'
    else:
        return ""
    
tendencias['tendencia_type'] = tendencias['tendencia'].apply(lambda x: get_type_tendece(x))
tendencias

In [ ]:
tendencias = tendencias.reset_index(drop=True)
tendencias.columns = ['producto','tendencia','tipo']
tendencias

In [ ]:
tendencias.to_csv('tendencias.csv')

In [ ]:
df = pd.read_csv('input.csv',encoding='iso-8859-1')
df = df[['prod_A','prod_B','estado','canal','gec','lift','confidence', 'sales_a','sales_b','support_b']]

for column in ['prod_A','prod_B','estado','canal','gec']:
    df[column] = df[column].str.upper()
    
df = df.dropna()
df

In [ ]:
df_sales = df[['prod_A','sales_a']]
df_sales.columns = ['product','sales']
df_sales = df_sales.groupby(by=["product"]).sum()
df_sales['category'] = 'NA'

df_sales.loc[(df_sales['sales'] < df_sales['sales'].quantile(.25)),'category'] = 'BAJA VENTA'
df_sales.loc[(df_sales['sales'] >= df_sales['sales'].quantile(.25)) & (df_sales['sales'] < df_sales['sales'].quantile(.5)),'category'] = 'MEDIA VENTA'
df_sales.loc[(df_sales['sales'] >= df_sales['sales'].quantile(.5)) & (df_sales['sales'] < df_sales['sales'].quantile(.75)),'category'] = 'ALTA VENTA'
df_sales.loc[(df_sales['sales'] >= df_sales['sales'].quantile(.75)),'category'] = 'MUY ALTA VENTA'

df_sales = df_sales.reset_index()
df_sales

In [ ]:
df_sales = df_sales.merge(tendencias, left_on='product', right_on='producto', how='inner')
del df_sales['producto']
df_sales

In [ ]:
df =df.merge(df_sales[['product','category','tipo','tendencia']], left_on='prod_B',right_on='product', how='left')
df.columns = df.columns.str.replace('category', 'category_b')
del df['product']
df = df.dropna()
df

In [ ]:
df.to_csv('metrics.csv', index=False)
df_sales.to_csv('sales.csv', index=False)